@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  min-height: 100%;
  min-width: 1280px;
  margin: 0;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container,
.main-inner {
  flex-grow: 1;
}

.nobullet {
  list-style-type: none;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

/*Навигация*/
.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.navigation-item {
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-logo {
  position: absolute;
  z-index: 1;
  margin-left: 70px;
  max-height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 550px;
}

.navigation-user {
  justify-content: end;
  padding-right: 70px;
}

.navigation-user .navigation-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  max-height: 64px;
}

.navigation-info .navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-info {
  margin-left: 238px;
}

.navigation-link:focus {
  color: #756157;
  fill: #756157;
  outline: none;
}

.navigation-link-current::after,
.navigation-link-inner::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 68px;
  background-color: #756257;
  background-position: bottom;
  background-repeat: no-repeat;
  bottom: -1px;
}

.navigation-link-inner::after {
  width: 93px;
}

.navigation-icon-search:hover,
.navigation-link-favorite:hover,
.navigation-link:hover:not(.brown-button) {
  color: #756157;
  fill: #756157;
}

.navigation-icon-search,
.navigation-link-favorite {
  margin-top: 5px;
}

.navigation-icon-search:active,
.navigation-link-favorite:active,
.navigation-link:active:not(.brown-button) {
  color: rgba(117, 97, 87, 0.3);
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.navigation-user .brown-button {
  font-size: 16px;
  min-height: 36px;
  min-width: 160px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  padding: 2px 20px;
  box-sizing: border-box;
}

.notification-badge {
  text-align: center;
  position: absolute;
  bottom: 33px;
  left: 20px;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 5px;
  line-height: 10px;
  font-weight: 400;
  border-radius: 50%;
}

/*Главная страница*/
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  min-height: 485px;
  box-sizing: border-box;
  background-image: url("../images/index-background.jpg");
  background-color: #3f5e72;
  display: block;
  background-repeat: no-repeat;
  padding-top: 51px;
}

.hero-text {
  display: block;
  margin: 0 auto;
}

.hero::after {
  content: "";
  display: block;
  margin: 26px 0 0 0;
  height: 56px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/hero-feature.svg");
}

/*Преимущества + рекомендации*/
.advantages {
  padding-top: 71px;
  text-align: center;
  margin-bottom: 64px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title,
.recommendations-title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title {
  position: relative;
  margin: 0 20px 24px 20px;
}

.advantages-item-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 29px;
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  background-repeat: no-repeat;
}

.deep-blue .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-subtitle,
.recommendations-subtitle {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.advantages-subtitle {
  margin: 0 20px 90px 20px;
}

.advantages-item-title,
.recommendations-item-title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-title {
  position: relative;
  margin-bottom: 30px;
}

.advantages-description,
.recommendations-description {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.deep-blue {
  min-width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages .light-blue {
  width: 400px;
  min-height: 385px;
}

.advantages .middle-blue {
  width: 400px;
  min-height: 385px;
}

.advantages-item {
  flex-grow: 1;
}

.advantages-text-align {
  margin: 0;
  padding: 113px 85px;
}

.advantages-description-white {
  color: #ffffff;
}

.advantages-town-wrapper,
.advantages-bridge-wrapper {
  display: flex;
  background-color: #ffffff;
}

.advantages-image-town,
.advantages-image-bridge {
  flex-grow: 1;
  height: 100%;
  color: #000000;
}

.advantages-text-wrapper {
  padding: 102px 85px;
  margin: 0;
  background-color: #82b3d3;
}

/*Рекомендации*/
.recommendations {
  text-align: center;
}

.recommendations-title {
  margin: 0 20px 20px 20px;
}

.recommendations-item-title {
  margin-bottom: 30px;
}

.recommendations-item-title::before {
  content: "";
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom: 27px;
  background-repeat: no-repeat;
  background-position: center;
}

.recommendations-house .recommendations-item-title::before {
  background-image: url("../images/recommendations/house.svg");
}

.recommendations-food .recommendations-item-title::before {
  background-image: url("../images/recommendations/food.svg");
}

.recommendations-souvenir .recommendations-item-title::before {
  background-image: url("../images/recommendations/present.svg");
}

.recommendations-subtitle {
  margin: 0 20px 64px 20px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
}

.recommendations-item {
  flex-grow: 1;
  width: 400px;
  min-height: 385px;
}

.recommendation-item-wrap {
  padding: 81px 85px;
  margin: 0;
}

.middle-blue {
  background-color: rgba(131, 179, 211, 0.20);
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Поиск на главной странице*/
.search {
  text-align: center;
  padding: 96px 304px;
  height: 100%;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-subtitle {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.brown-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  text-align: center;
}

.brown-button:hover,
.brown-button:focus,
.blue-button:focus-visible {
  background-color: #615048;
  color: #ffffff;
  outline: none;
}

.brown-button:active,
.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.brown-button:disabled {
  background-color: #e5e5e5;
}

.search .brown-button {
  font-size: 20px;
  padding: 8px 50px;
}

/*Подписка*/
.subscription {
  text-align: center;
  background-image: url("../images/subscribe-background.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 96px 258px 104px;
  height: 100%;
}

.subscription-title,
.subscription-title-catalog {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-form .blue-button {
  border-radius: 0;
  margin: 0;
  min-height: 52px;
  min-width: 232px;
  display: flex;
  box-sizing: border-box;
  padding: 8 20px;
  justify-content: center;
  align-items: center;
}

.subscription-subtitle,
.subscription-subtitle-catalog {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding-left: 17px;
  padding-right: 0;
  height: 52px;
  min-width: 452px;
  border: 3px transparent solid;
  box-sizing: border-box;
  outline: none;
}

.subscription-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.blue-button {
  font-family: inherit;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #68a2ca;
  outline: none;
}

/*Модальное окно*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.popup {
  position: relative;
  margin: auto;
  border-radius: 30px;
  padding: 64px 70px;
  min-width: 717px;
  font-weight: 700;
  min-height: 576px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.popup-show {
  display: none;
}

.close-button {
  content: "";
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  border: transparent 3px solid;
  box-sizing: border-box;
  display: block;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

.close-button:hover {
  background-color: #e6e6e6;
}

.close-button svg {
  display: block;
  margin: 0 auto;
  fill: #000000;
}

.close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.close-button:focus-visible {
  outline: 3px solid #68a2ca;
}

.popup-header {
  text-align: left;
  margin: 0;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
}

.popup-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 64px;
}

.popup-item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  box-sizing: border-box;
  margin: 0;
}

.popup-input-date {
  height: 48px;
  width: 440px;
  margin: 0;
  padding: 17px 20px 11px 20px;
  box-sizing: border-box;
  vertical-align: bottom;
  border: none;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
  cursor: pointer;
}

.popup-input-date::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.popup-input-date::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  vertical-align: bottom;
}

.popup-input-date:focus::placeholder {
  color: transparent;
}

.popup-label[for="start"]::after,
.popup-label[for="finish"]::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 14px;
  height: 20px;
  width: 20px;
  display: block;
  background-image: url("../images/popup-input-date.svg");
  background-position: center;
  cursor: pointer;
}

.popup-input-date:not(:disabled):hover {
  background-color: #e6e6e6;
}

.popup-input-date:not(:placeholder-shown):not(:empty) {
  border: 2px #000000 solid;
  color: #000000;
}

.popup-input-date:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: rgba(0, 0, 0, 0.3);
}

.popup-input-error,
.popup-input-hint {
  display: block;
  min-width: 320px;
  height: 21px;
  position: absolute;
  left: 157px;
  top: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ff5757;
}

.popup-input-hint {
  color: #000000;
}

.popup-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-label {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  width: 120px;
  margin-right: 18px;
}

.popup-features {
  font-family: inherit;
  display: block;
  height: 48px;
  max-width: 31px;
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  -webkit-appearance: none;
          appearance: none;
  padding: 10px;
  -moz-appearance: textfield;
}

.popup-features:focus {
  outline: #68a2ca 2px solid;
  outline-offset: -3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.popup-features::-webkit-outer-spin-button,
.popup-features::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup-input-style {
  outline: none;
  height: 48px;
  border: none;
  padding: 0;
}

.popup-input-style svg {
  content: "";
  display: block;
  width: 40px;
  height: 48px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  fill: rgba(117, 97, 87, 0.3);
  outline: none;
  cursor: pointer;
}

.popup-input-style svg:hover {
  fill: #000000;
}

.popup-input-style svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

.popup-input-style:focus-visible path {
  outline: 3px #82B3D3 solid;
  outline-offset: 8px;
}

.popup-submit {
  border: none;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  min-height: 60px;
  min-width: 100%;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
}

.popup-input-children {
  position: relative;
  max-width: 55px;
  margin-right: 76px;
}

.tooltip-toggle {
  position: absolute;
  top: 12px;
  right: 157px;
  border: none;
  background-color: #82b3d3;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  cursor: pointer;
  outline: none;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: #68a2ca;
}

.tooltip-toggle svg {
  fill: #ffffff;
  width: 2px;
  height: 12px;
  margin: 2px 1px 0 0;
  box-sizing: border-box;
}

.tooltip-text {
  position: absolute;
  top: 50px;
  right: 42px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  z-index: 1;
  display: none;
}

.tooltip-text::after {
  content: "";
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: -7px;
  right: 120px;
  width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #333333;
}

.tooltip-toggle:hover + .tooltip-text {
  display: block;
}

/*Подвал*/
.page-footer {
  margin: 0 auto;
  width: 1200px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 40px 70px 30px;
  min-height: 50px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 0;
  padding: 0;
}

.logo-academy {
  position: relative;
  display: block;
  min-height: 50px;
  min-width: 115px;
  outline: none;
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  max-width: 720px;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgb(117, 97, 87, 0.3);
}

.contacts {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  text-align: center;
}

.footer-tel {
  flex-grow: 1;
}

.button-social {
  display: block;
  position: relative;
  height: 40px;
  min-width: 47px;
  outline: none;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-icon:hover {
  fill:#68a2ca;
}

.button-social:focus svg {
  fill: #68a2ca;
}

.social-icon:active {
  fill: #68a2ca;
  opacity: 30%;
}

.footer-logo-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-logo-icon:hover,
.logo-academy:focus svg {
  fill: #756157;
}

.logo-academy:active svg {
  fill: rgb(117, 97, 87, 0.3);
}

/* Каталог: Фильтры */
.inner-features {
  background-image: url("../images/background-filter.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  padding-left: 70px;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  min-height: 21px;
  padding: 0;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  vertical-align: bottom;
  line-height: 21px;
  min-width: 10px;
}

.breadcrumbs-link svg {
  display: block;
  padding-top: 2px;
}

.breadcrumbs-item::after {
  content: "";
  display: block;
  margin-left: 10px;
  padding-top: 3px;
  width: 8px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/arrow-breadcrumbs.svg");
}

.breadcrumbs-item:last-of-type::after {
  content: none;
}

.breadcrumbs-item svg {
  fill: #ffffff;
}

.breadcrumbs-link:hover svg,
.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:not(:last-child):hover {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.filter-group {
  border: none;
  padding: 0;
  width: 150px;
}

.control-list {
  padding-left: 0;
  margin: 0;
}

.control-name {
  position: relative;
  display: block;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  padding-left: 36px;
  cursor: pointer;
  outline: none;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-name:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.4);
}

.control-name:hover {
  color: rgba(255, 255, 255, 0.4);
}

.control-name:active .control-mark {
  background-color: rgba(255, 255, 255, 0.1);
}

.control-name:active {
  color: rgba(255, 255, 255, 0.1);
}

.control-input:focus-visible ~ .control-mark,
.control-name:focus-visible + .control-mark {
  outline: 3px solid #68a2ca;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 19px;
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[autofocus]:focus-visible + .control-mark {
  border: 3px solid #68a2ca;
  outline: 3px solid #68a2ca;
}

.filter-facilities {
  margin-right: 70px;
  margin-left: 0;
}

.filter-accommodation {
  margin-left: 0;
  margin-right: 140px;
}

.filter-price {
  margin: 0;
  margin-right: 70px;
}

.range {
  position: relative;
  max-width: 288px;
}

.range-wrapper-inputs {
  display: flex;
}

.range-input {
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: inherit;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  margin: 0;
  padding-right: 34px;
  padding-left: 17px;
  margin-right: 2px;
  outline: none;
  cursor: pointer;
  border: 3px solid transparent;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.range-input::placeholder {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.range-input:focus::placeholder {
  opacity: 0;
}

.range-input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input[name="max-price"] {
  border-radius: 0 4px 4px 0;
}

.range-wrapper-inputs .control-name-range {
  position: relative;
}

.range-input:focus {
  border: 3px #83b3d3 solid;
}

.range-control-text {
  position: absolute;
  color: rgba(0, 0, 0, 1);
  top: 14px;
  left: 105px;
}

.range-scale {
  width: 287px;
  position: relative;
  height: 3px;
  margin-top: 45px;
  background-color: #ffffff;
}

.range-bar {
  position: absolute;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}

.range-toggle {
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -9px;
  left: -216px;
}

.toggle-max {
  top: -9px;
  left: -9px;
}

.filter-list {
  display: flex;
  min-height: 160px;
}

.filter-buttons {
  display: flex;
  justify-content: end;
  min-width: 191px;
  flex-direction: column;
}

/* Каталог */
.hotels-main {
  width: 1060px;
  margin: 0 auto;
  border: none;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}

.hotels-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin-top: 10px;
}

.hotels-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 137px;
}

.button-hotels-display {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  min-height: 48px;
  width: 48px;
  padding: 0;
  cursor: pointer;
}

.button-hotels-display:focus-visible {
  outline: none;
  border: 2px solid #68a2ca;
}

.button-display-list,
.button-hotels-display:hover {
  border: 2px solid #000000;
}

.button-display-list::after {
  background-image: url("../images/catalog-display/list-display.svg");
}

.button-display-cards::after {
  background-image: url("../images/catalog-display/cards-display.svg");
}

.button-display-slide::after {
  background-image: url("../images/catalog-display/slide-display.svg");
}

.button-display-slide::after,
.button-display-cards::after,
.button-display-list::after {
  content: "";
  width: 48px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-buttons .blue-button {
  font-size: 16px;
  min-width: 190px;
  min-height: 36px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 31px;
}

.hotels-list .blue-button {
  font-size: 16px;
}

.filter-group-title {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.control-item {
  margin-bottom: 16px;
}

.control-item:last-child {
  margin-bottom: 0;
}

.button {
  font-family: inherit;
  border: none;
  box-sizing: border-box;
  background: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  min-height: 36px;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:disabled {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus-visible {
  outline: none;
  border: 3px #83b3d3 solid;
  border-radius: 4px;
}

.hotels-number {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
  margin-top: 37px;
}

.select-control {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
  width: 292px;
  height: 49px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 70px 14px 20px;
  background: transparent url("data:image/svg+xml,<svg height='8px' width='12px' viewBox='0 0 12 8' fill='000000' xmlns='http://www.w3.org/2000/svg'><path d='M6.67501 7.71255L11.775 2.41255C12.075 2.11255 12.075 1.51255 11.775 1.21255C11.475 0.912549 10.875 0.912549 10.575 1.21255L6.07501 5.91255L1.57501 1.21255C1.27501 0.912549 0.675012 0.912549 0.375012 1.21255C0.175012 1.31255 0.0750122 1.61255 0.0750122 1.81255C0.0750122 2.01255 0.175012 2.21255 0.375012 2.41255L5.47501 7.71255C5.77501 8.11255 6.37501 8.11255 6.67501 7.71255Z'/></svg>") no-repeat right 17px center;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus-visible {
  outline: 2px solid #68a2ca;
  border: transparent 2px solid;
}

.select-control:active {
  outline: 2px solid #3f5e72;
  border: transparent 2px solid;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  outline: rgba(0, 0, 0, 0.3) solid 2px;
  background: transparent url("data:image/svg+xml,<svg height='7px' width='12px' viewBox='0 0 12 9' fill='000000' fill-opacity='0.3' xmlns='http://www.w3.org/2000/svg'><path d='M6.67501 7.71255L11.775 2.41255C12.075 2.11255 12.075 1.51255 11.775 1.21255C11.475 0.912549 10.875 0.912549 10.575 1.21255L6.07501 5.91255L1.57501 1.21255C1.27501 0.912549 0.675012 0.912549 0.375012 1.21255C0.175012 1.31255 0.0750122 1.61255 0.0750122 1.81255C0.0750122 2.01255 0.175012 2.21255 0.375012 2.41255L5.47501 7.71255C5.77501 8.11255 6.37501 8.11255 6.67501 7.71255Z'/></svg>") no-repeat right 16px center;
}

.select-buttons {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.hotel-card {
  width: 340px;
  border: #e6e6e6 solid 1px;
  border-radius: 4px;
}

.hotel-text-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.hotel-text-wrapper .blue-button,
.hotel-text-wrapper .brown-button {
  min-height: 36px;
  line-height: 20px;
}

.hotel-card-container {
  padding: 20px 19px;
  min-height: 437px;
  min-width: 340px;
  box-sizing: border-box;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-link img {
  margin-bottom: 11px;
}

.hotel-name {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-type,
.hotel-price {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.hotel-price {
  text-align: end;
}

.hotel-rating {
  min-width: 140px;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  min-height: 37px;
}

.rating-wrapper::before {
  content: "";
  width: 140px;
  height: 37px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/catalog/rating-four-stars.svg");
}

.rating-three-stars::before {
  background-image: url("../images/catalog/rating-three-stars.svg");
}

.rating-two-stars::before {
  background-image: url("../images/catalog/rating-two-stars.svg");
}

.green-button {
  font-family: inherit;
  background-color: #7db54f;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.green-button:hover,
.green-button:focus {
  background-color: #6c9e42;
  outline: none;
}

.green-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue-button[disabled]:not(.button),
.brown-button[disabled]:not(.button),
.green-button[disabled]:not(.button) {
  background-color: rgba(229, 229, 229, 1);
}

/* Пагинация */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 62px;
  padding-top: 38px;
  max-height: 60px;
  justify-content: flex-start;
  border-top: 1px solid #e6e6e6;
}

.pagination-pages {
  color: #000000;
  vertical-align: bottom;
  align-self: end;
}

.pagination-current {
  background-color: #f2f2f2;
  border-radius: 4px;
  color: inherit;
  line-height: 36px;
  text-transform: uppercase;
  font-size: 20px;
}

.pagination-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  margin-right: 8px;
  text-decoration: none;
  font-weight: 700;
  min-width: 60px;
  text-align: center;
  padding: 0 8px;
  box-sizing: border-box;
}

.pagination-link:last-child {
  margin-right: 0;
}

/* Подписка */
.subscription-catalog {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscription-title-catalog {
  color: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.catalog-input {
  background-color: #f2f2f2;
}
